body {
	/*altura da tela*/
	min-height: 100vh; 
	/*cor de fundo da tela*/
	background-color: #CCC; 
	/*muda a cor de fundo de fundo dinamicamente*/
	background-image: url('https://unsplash.it/g/1920/1080?random'); 
}

/*ajustes de login-form*/
.login-form{
	height: 300px;
	background-color: #fff;

	/*centraliza*/
	margin-top: 50vh;
	transform: translateY(-50%);
}


